<div class="container">
  <div class="wrapper">
    <aside>
      <ul class="sb-links-list">
        <li class="sb-item first-link">
          <span class = "list-span"><a href="/documents" id= "logo">ROOTS</a></span>
        </li>
        <li class="sb-item second-link">
          <span class = "list-span"><%= link_to 'Add New Document', new_document_path %></span>
        </li>
      </ul>
    </aside>

    <main>

      <div id = "search">
        <%= form_for search_path, method: :get do |f| %>
          <%= text_field_tag :q, params[:q], options = {placeholder:"Search..."}%>
          <%= submit_tag "Search", name: nil, id: "search-submit" %>
          <div class="advance-search">
            <p id="adv-search-link"><%= link_to "Advance Search", "#", id: "advance-search-link"%></p>

            <section id="advance-search-section">
              <div class="form-input">
                <div class="form-input-label">Author</div>
                <%= select_tag "author", options_for_select(@all_author, @prev_author), :include_blank => true, :multiple => true, :size =>3, :autocomplete=> 'off'%>
              </div>

              <div class="form-input">
                <div class="form-input-label">Document Type</div>
                <%= select_tag "doctype", options_for_select(@all_doctype, @prev_doctype), :include_blank => true,:multiple => true, :size =>3, :autocomplete=> 'off'%>
              </div>

              <div class="form-input">
                <div class="form-input-label">Category</div>
                <%= select_tag "category", options_for_select(@all_category, @prev_category), :include_blank => true,:multiple => true, :size =>3, :autocomplete=> 'off'%>
              </div>

            </section>

          </div>
        <% end %>
      </div>

      <div class="search-results">
      <p id="error-messages"><%= @notice %></p>
      <ul class = "search-results-list">
        <% @documents.each do |document| %>
          <li class= "list-results">
            <h3 class="document-link">
              <%= link_to document.try(:highlight).try(:title) ? document.highlight.title[0].html_safe : document.title,
                controller: "documents",
                action: "show",
                id: document._id%>
            </h3>
            <% if document.try(:highlight).try(:keywords) %>
              <% document.highlight.keywords.each do |snippet| %>
                <p class="text-snippet"><%= snippet.html_safe %>...</p>
                <% break %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      </div>

      <%= paginate @documents %>
    </main> 

  </div><!-- END of wrapper-->
</div>

