<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @document.author %>
</p>

<p>
  <strong>Doc Type:</strong>
  <%= @document.doctype %>
</p>

<p>
  <strong>Category:</strong>
  <%= @document.category %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= word_wrap @document.keywords, :line_width => 56 %>
</p>

<p>
  <strong>Pdflink:</strong>
  <%= @document.pdflink %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
