<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
   <div id="error-messages">
     <h4><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h4>
     <br>
      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <h5><%= message %></h5>
      <% end %>
      <br>
    </ul>
    </div>
    <% end %>
  <p id="error"><%= flash[:error] %></p>
  <br>
  <div class="field">
    <%= f.label :title_ %><span id="required-field">*</span><br>
    <%= f.text_field :title,:maxlength => 255 %>
  </div>
  <div class="field">
    <!--<%= f.label :author_ %><span id="required-field">*</span><br>
    <%= f.text_field :author,:maxlength => 64 %> -->
    <%= f.label :author_, "Author" %>: <span id="required-field">*</span><br>
    <%= f.text_field :author, :maxlength => 64, list: 'author-name' %>
      <datalist id="author-name">
        <% @all_author.each do |author| %>
          <option value="<%= author %>"></option>
        <% end %>
    </datalist>
  </div>
  <div class="field">
    <!--<%= f.label :doctype_ %><span id="required-field">*</span><br>
    <%= f.text_field :doctype,:maxlength => 64 %> -->
    <%= f.label :doctype_, "Document Type" %>: <span id="required-field">*</span><br>
    <%= f.text_field :doctype, :maxlength => 64, list: 'doctype-name' %>
      <datalist id="doctype-name">
        <% @all_doctype.each do |doctype| %>
          <option value="<%= doctype %>"></option>
        <% end %>
    </datalist>
  </div>
  <div class="field">
    <!--<%= f.label :category_ %><span id="required-field">*</span><br>
    <%= f.text_field :category,:maxlength => 64 %>-->
    <%= f.label :category_, "Category" %>: <span id="required-field">*</span><br>
    <%= f.text_field :category, :maxlength => 64, list: 'category-name' %>
      <datalist id="category-name">
        <% @all_category.each do |category| %>
          <option value="<%= category %>"></option>
        <% end %>
    </datalist>
  </div>
  <div class="field">
    <%= f.label :pdflink_ %><span id="required-field">*</span><br>
    <%= f.text_area :pdflink %>
  </div>
  <div class="actions">
    <%= f.submit data: { disable_with: "Please wait while we parse the document..." } %><span>  (* = required)</span>
  </div>
<% end %>
