<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @document.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @document.author %>
  </p>

  <p>
    <strong>Doc Type:</strong>
    <%= @document.doctype %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @document.category %>
  </p>

  <p>
    <strong>Pdflink:</strong>
    <%= @document.pdflink %>
  </p>

  <%= link_to 'Edit', edit_document_path(@document) %> |
  <%= link_to 'Home', documents_path %>
</div>
